#### Music Recommendation System

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('spotify_millsongdata.csv')
df.head()

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [3]:
df.shape

(57650, 4)

In [4]:
df1 = df.drop(columns=['link'])
df1.head()

,artist,song,text
0,ABBA,Ahe's My Kind Of Girl,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante","Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,Making somebody happy is a question of give an...

In [5]:
df1 = df1.drop_duplicates('song')
df1.head()

,artist,song,text
0,ABBA,Ahe's My Kind Of Girl,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante","Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,Making somebody happy is a question of give an...

In [6]:
# Checking Null values

df1.isnull().sum()

artist    0
song      0
text      0
dtype: int64

In [7]:
import re
import spacy

from spacy.lang.en.stop_words import STOP_WORDS

nlp = spacy.load("en_core_web_sm")

In [8]:
# Removing \n\r and stop words
def cleaning(text):
    
    text = re.sub("[^a-zA-Z]", " ", text)
    text = text.lower()
    
    doc = nlp(text)
    
    no_stop_words = [token.text for token in doc if not token.is_stop]
    return " ".join(no_stop_words)

In [9]:
# Making a single feature

df1['Combined_features'] = df1['artist']+" "+df1['song']+" "+df1['text']

In [10]:
df1['song'] = df1['song'].str.lower()
df1['text'] = df1['text'].str.lower()

In [11]:
df1.head()

,artist,song,text,Combined_features
0,ABBA,ahe's my kind of girl,"look at her face, it's a wonderful face \r\na...","ABBA Ahe's My Kind Of Girl Look at her face, i..."
1,ABBA,"andante, andante","take it easy with me, please \r\ntouch me gen...","ABBA Andante, Andante Take it easy with me, pl..."
2,ABBA,as good as new,i'll never know why i had to go \r\nwhy i had...,ABBA As Good As New I'll never know why I had ...
3,ABBA,bang,making somebody happy is a question of give an...,ABBA Bang Making somebody happy is a question ...
4,ABBA,bang-a-boomerang,making somebody happy is a question of give an...,ABBA Bang-A-Boomerang Making somebody happy is...

In [12]:
# It takes lot of time to get feature vector so, selecting first 25k rows
df1 = df1[0:25000]

In [13]:
# It takes times atleast 20min

df1['Combined_features'] = df1['Combined_features'].apply(func = cleaning)

In [14]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [15]:
# creating a Tfidvectorizer object

tfv = TfidfVectorizer(max_features = 2000)

In [16]:
tfv_matrix = tfv.fit_transform(df1["Combined_features"])

In [17]:
# Cosine similarity matrix

cosine_sim = cosine_similarity(tfv_matrix)
cosine_sim[:5]

array([[1.        , 0.        , 0.00640513, ..., 0.00447332, 0.        ,
        0.00456683],
       [0.        , 1.        , 0.00607012, ..., 0.01240764, 0.0229859 ,
        0.04835664],
       [0.00640513, 0.00607012, 1.        , ..., 0.00112061, 0.06231748,
        0.01289604],
       [0.00752702, 0.01850401, 0.01555331, ..., 0.00168893, 0.09374441,
        0.016124  ],
       [0.00909093, 0.02234862, 0.04257908, ..., 0.00203985, 0.11322184,
        0.01947411]])

In [18]:
song = "Hope"
song_index = df[df.song == song].index[0]
song_index

664

In [19]:
# cosine similarity

similar_songs = list(enumerate(cosine_sim[song_index]))
similar_songs[:10]

[(0, 0.0061772033625136745),
 (1, 0.13209406304505925),
 (2, 0.0126475266040242),
 (3, 0.014718166522160046),
 (4, 0.017776184199400403),
 (5, 0.00359104542489969),
 (6, 0.0),
 (7, 0.052988465590653726),
 (8, 0.012094383921023579),
 (9, 0.006408582553679823)]

In [20]:
# sorting based on cosine similarity

similar_song_sorted = sorted(similar_songs,key = lambda x:x[1],reverse = True)
similar_song_sorted[:10]

[(664, 1.0),
 (1426, 0.9834277834436801),
 (2130, 0.9802790252166576),
 (24442, 0.9560172911057757),
 (20813, 0.7270862259473571),
 (20135, 0.5118575680403202),
 (2719, 0.5001050226596988),
 (1169, 0.4806190249447993),
 (9756, 0.45814243529484366),
 (17286, 0.4359868338385177)]

In [21]:
# Recommending 10 similar songs

def recommended_songs(song_user_likes):
    song_index = df[df.song == song_user_likes].index[0]
    similar_songs = list(enumerate(cosine_sim[song_index]))
    similar_song_sorted = sorted(similar_songs, key=lambda x:x[1], reverse=True)
    
    for song in similar_song_sorted[1:11]:
        similar_songs = df[df.index == song[0]]["song"].values[0]
        print(similar_songs)

In [23]:
recommended_songs("Hope")

When In Rome
Ruby Sees All
Boys Will Be Boys
I've Been Hearing Things About You
Holding The Moth
All I Wanna Do
Hold On Dear Brother
Nothing Can Be Done
City Of Angels
Homecoming